<div class="dependence-mode-container">
  <style>
    .CrawlerApp::before {
      background-position: bottom right;
    }
    @media screen and (max-width: 1333px) {
      .CrawlerApp::before {
        background-size: calc(100vh - 160px) calc(100vh - 160px);
      }
    }
    @media screen and (min-width: 1334px) {
      .CrawlerApp::before {
        background-size: calc(100vh - 128px) calc(100vh - 128px);
      }
    }
  </style>
  <script src="https://cdn.lordicon.com/lordicon.js"></script>
  <!-- Main content -->
  <div class="main-content">
    <header class="main-header">
      <button class="nav-btn--with-icon return-btn" id="backToWelcome">
        <span class="btn-icon"></span>
        <span class="btn-text">Quay lại.</span>
      </button>
      <h1>Chế độ độc lập.<span>[StandAlone.]</span></h1>
    </header>
    <main class="content-wrapper">
      <div class="form-group" id="jsonDataGroup">
        <label for="jsonData">Dữ liệu JSON đầu vào.</label>
        <textarea
          id="jsonData"
          placeholder='Dán dữ liệu JSON từ extension vào đây.
          Ví dụ:
{
  "clients": [
    {
      "text": "Tên khách hàng 1",
      "image_names": ["image1.jpg", "image2.jpg"]
    },
    {
      "text": "Tên khách hàng 2", 
      "image_names": ["image3.jpg"]
    }
  ]
}'
        ></textarea>
        <div class="btn-group">
          <button id="processBtn" class="btn btn-primary light_sweep-effect">
            <span class="btn-icon"></span>
            <span class="btn-text">Chuyển đổi</span>
          </button>
        </div>
      </div>
      <div class="form-group" id="folderGroupPreview">
        <label for="folderPath"
          ><input type="text" id="folderPath" placeholder="Nhập đường dẫn..." />
          <button id="browseFolderBtn" class="browse-btn btn btn-straytext">
            Chọn thư mục
          </button></label
        >
        <div id="folderList" class="folder-list">
          <div id="folderItems"></div>
        </div>
      </div>
    </main>

    <!-- Navigation footer -->
    <footer class="navigation-footer">
      <div id="statusMessage" class="status">Sẵn sàng.</div>
    </footer>
  </div>
</div>
